body {
  overflow-x: hidden;
}

body #home-text p {
  text-indent: 2em
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.navbar-brand {
  position: absolute;
  top: 0px;
  left: 20%;
  z-index: 9999;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../img/image1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.carousel-image-2 {
  background: url('../img/image2.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.carousel-image-3 {
  background: url('../img/image3.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.home-title {
  position: relative;
  min-height: 150px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.home-icons--icons {
justify-content: center
}

#page-header {
  height: 200px;
  background: url('../img/image1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}


.progect-founders .row {
  display: flex;
  flex-wrap: wrap
}

.progect-founders--logo {
  margin: auto;
  min-width: 250px;
  min-height: 100px
}

.progect-founders--logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 150px
}

.progect-founders .btn {
  border: none;
}

#main-footer {
  background: #000;
  color: #fff;
}

.maded-by {
  display: inline-block;
  align-items: center
}

.maded-by a {
  text-decoration: none;
  color: #fff
}

.maded-by a .fab {
  color: #007bff
}






.animation-target {
  -webkit-animation: animation 8500ms linear infinite both;
  animation: animation 8500ms linear infinite both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bl%3A1%2Cs%3A%5B%7BT%3A%22r%22%2Ce%3A%22b%22%2Cd%3A500%2CD%3A8000%2Cf%3A0%2Ct%3A90%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22b%22%2Cd%3A180%2CD%3A500%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A0.2%2Cy%3A2%7D%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A5%2Cy%3A0.5%7D%2Cs%3A3%2Cb%3A4%7D%5D%7D */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  0.51% { -webkit-transform: matrix3d(3.057, 0, 0, 0, 0, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(3.057, 0, 0, 0, 0, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.01% { -webkit-transform: matrix3d(4.514, 0, 0, 0, 0, 0.561, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(4.514, 0, 0, 0, 0, 0.561, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.52% { -webkit-transform: matrix3d(5.209, 0, 0, 0, 0, 0.474, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(5.209, 0, 0, 0, 0, 0.474, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.03% { -webkit-transform: matrix3d(5.373, 0, 0, 0, 0, 0.453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(5.373, 0, 0, 0, 0, 0.453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.33% { -webkit-transform: matrix3d(5.083, 0, 0, 0, 0, 0.49, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(5.083, 0, 0, 0, 0, 0.49, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.64% { -webkit-transform: matrix3d(4.975, 0, 0, 0, 0, 0.503, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(4.975, 0, 0, 0, 0, 0.503, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.78% { -webkit-transform: matrix3d(4.992, 0, 0, 0, 0, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(4.992, 0, 0, 0, 0, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.88% { -webkit-transform: matrix3d(4.994, 0, 0, 0, 0, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(4.994, 0, 0, 0, 0, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.97% { -webkit-transform: matrix3d(2.94, 0, 0, 0, 0, 0.758, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.94, 0, 0, 0, 0, 0.758, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.06% { -webkit-transform: matrix3d(1.484, 0, 0, 0, 0, 0.94, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.484, 0, 0, 0, 0, 0.94, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.16% { -webkit-transform: matrix3d(0.79, 0, 0, 0, 0, 1.027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.79, 0, 0, 0, 0, 1.027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.25% { -webkit-transform: matrix3d(0.626, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.626, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.48% { -webkit-transform: matrix3d(0.917, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.917, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.72% { -webkit-transform: matrix3d(1.025, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.025, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.19% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.25% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.66% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.88% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.76% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.37% { -webkit-transform: matrix3d(0.691, 0.723, 0, 0, -0.723, 0.691, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.691, 0.723, 0, 0, -0.723, 0.691, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.62% { -webkit-transform: matrix3d(0.19, 0.982, 0, 0, -0.982, 0.19, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19, 0.982, 0, 0, -0.982, 0.19, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.88% { -webkit-transform: matrix3d(-0.082, 0.997, 0, 0, -0.997, -0.082, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.082, 0.997, 0, 0, -0.997, -0.082, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.13% { -webkit-transform: matrix3d(-0.146, 0.989, 0, 0, -0.989, -0.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.146, 0.989, 0, 0, -0.989, -0.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.78% { -webkit-transform: matrix3d(-0.032, 0.999, 0, 0, -0.999, -0.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.032, 0.999, 0, 0, -0.999, -0.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.44% { -webkit-transform: matrix3d(0.01, 1, 0, 0, -1, 0.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.01, 1, 0, 0, -1, 0.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  97.74% { -webkit-transform: matrix3d(-0.001, 1, 0, 0, -1, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.001, 1, 0, 0, -1, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  99.06% { -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  0.51% { -webkit-transform: matrix3d(3.057, 0, 0, 0, 0, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(3.057, 0, 0, 0, 0, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.01% { -webkit-transform: matrix3d(4.514, 0, 0, 0, 0, 0.561, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(4.514, 0, 0, 0, 0, 0.561, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.52% { -webkit-transform: matrix3d(5.209, 0, 0, 0, 0, 0.474, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(5.209, 0, 0, 0, 0, 0.474, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.03% { -webkit-transform: matrix3d(5.373, 0, 0, 0, 0, 0.453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(5.373, 0, 0, 0, 0, 0.453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.33% { -webkit-transform: matrix3d(5.083, 0, 0, 0, 0, 0.49, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(5.083, 0, 0, 0, 0, 0.49, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.64% { -webkit-transform: matrix3d(4.975, 0, 0, 0, 0, 0.503, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(4.975, 0, 0, 0, 0, 0.503, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.78% { -webkit-transform: matrix3d(4.992, 0, 0, 0, 0, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(4.992, 0, 0, 0, 0, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.88% { -webkit-transform: matrix3d(4.994, 0, 0, 0, 0, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(4.994, 0, 0, 0, 0, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.97% { -webkit-transform: matrix3d(2.94, 0, 0, 0, 0, 0.758, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.94, 0, 0, 0, 0, 0.758, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.06% { -webkit-transform: matrix3d(1.484, 0, 0, 0, 0, 0.94, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.484, 0, 0, 0, 0, 0.94, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.16% { -webkit-transform: matrix3d(0.79, 0, 0, 0, 0, 1.027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.79, 0, 0, 0, 0, 1.027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.25% { -webkit-transform: matrix3d(0.626, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.626, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.48% { -webkit-transform: matrix3d(0.917, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.917, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.72% { -webkit-transform: matrix3d(1.025, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.025, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.19% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.25% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.66% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.88% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.76% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.37% { -webkit-transform: matrix3d(0.691, 0.723, 0, 0, -0.723, 0.691, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.691, 0.723, 0, 0, -0.723, 0.691, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.62% { -webkit-transform: matrix3d(0.19, 0.982, 0, 0, -0.982, 0.19, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19, 0.982, 0, 0, -0.982, 0.19, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.88% { -webkit-transform: matrix3d(-0.082, 0.997, 0, 0, -0.997, -0.082, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.082, 0.997, 0, 0, -0.997, -0.082, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.13% { -webkit-transform: matrix3d(-0.146, 0.989, 0, 0, -0.989, -0.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.146, 0.989, 0, 0, -0.989, -0.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.78% { -webkit-transform: matrix3d(-0.032, 0.999, 0, 0, -0.999, -0.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.032, 0.999, 0, 0, -0.999, -0.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.44% { -webkit-transform: matrix3d(0.01, 1, 0, 0, -1, 0.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.01, 1, 0, 0, -1, 0.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  97.74% { -webkit-transform: matrix3d(-0.001, 1, 0, 0, -1, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.001, 1, 0, 0, -1, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  99.06% { -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}




